{% assign collection = section.settings.collection %}
<div class="featured-product-section">
<div class="container ">
  <div class="section-heading">
    <h2 >{{section.settings.title}} </h2>
  </div>
  <div class="row">
    {% for product in collection.products %}
    <div class="col-md-4">   
      <div class="card m-2 ">
        <img src="{{product.featured_image|img_url:'medium'}}" alt="{{product.title}}">
        <div class="product-info">
          <h4 class="product-title">
            {{product.title | escape}}
          </h4>
          <strong class="price">{{product.price | money_with_currency}}</strong>
        </div>
        <button class="btn btn-primary">Add to cart</button>
      </div>
    </div>  
    {% endfor %}
  </div>
</div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Section title ",
    "default": "Featured Collection"
  },
    {
      "type":"collection" ,
      "id":"collection",
      "label":"Collection"
    }
    ], "presets": [  
      {"name": "Featured  collection",
      "category":"collection"
    }
    ]
}
{% endschema %}