{% assign product = all_products[section.settings.product] %}

<div class="featured-product-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="featured-image">
          <img src="{{product.featured_image |  image_url: 'original' }}" width="100%" alt="{{product.title |  escape}}">
        </div>
      </div>
      <div class="col-md-6">
        {% form 'product', product %}
          <input type="hidden" name="id" value=""{{product.select_or_first_available_variant.id}}>
        {% for block in section.settings %}
          {% case block.type %}
            {% when 'title' %}
              <h2 class="title">{{product.title |  escape}}</h2>
            {% when 'price' %}
              <h3 class="price">{{product.price | money}}</h3>
            {% when 'description' %}
              <div class="description">{{product.description}}</div>
            {% when 'quantity' %}
              <div class="quantity-selector my-3">
                <label >Quantity:</label>
                <input type="number" value="1" min="1" class="form-control" name="quantity" id="">
                </div>
            {% when 'addToCart' %}
                <div class="actions">
                <button class="btn btn-primary" type="submit" name="add">Add to cart</button>
              </div>              
          {% endcase %}
        {% endfor %}
        {% endform %}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Featured product",
  "settings": [
    {
    "type":"product",
    "id":"product",
    "label":"Product"
    }
  ],
  "blocks": [
    {
      "type": "title", 
      "name": "Product title", 
      "limit": 1
    },{
      "type": "price", 
      "name": "Product price", 
      "limit": 1
    } ,{
      "type": "description", 
      "name": "Description", 
      "limit": 1
    },{
      "type": "quantity", 
      "name": "Quantity selector", 
      "limit": 1
    },{
      "type": "addToCart", 
      "name": "Add to cart button", 
      "limit": 1
    }
  ],
    "presets": [
      {
        "name":"Featured product",
        "category":"Product",
        "blocks": [
          {
            "type":"title"
          },{
            "type":"price"
          },{
            "type":"quantity"
          },{
            "type":"addToCart"
          }
        ]
      } 
    ]
}
{% endschema %}