{% style %}
    #newsletter_{{section.id}}{
        padding-top:{{section.settings.padding_top|  times: .75 |  round:0}}px;
        padding-bottom:{{section.settings.padding_bottom|  times: .75 |  round:0}}px;
        background-color:{{section.settings.bg_color}};
    }
    #newsletter_{{section.id}} .title{
        color:{{section.settings.title_color}}
    }
{% endstyle %}
<div class="newsletter-secton" id="newsletter_{{section.id}}">
    <div class="container">
        <div class="newsletter-area text-center" >
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'title' %}
                        <div class="heading">
                            <h1 class="title">{{block.settings.title | escape}}</h1>
                        </div>
                    {% when 'description' %}
                        <div class="newsletter-details">
                            <p> {{ block.settings.rte }}</p>
                        </div>
                    {% when 'email_form' %}
                        {% form 'customer', class:'newsletter' %}
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="email" class="form-control" placeholder="email address" aria-label="Username" aria-describedby="basic-addon1" name="çontact[email]">
                            <button type="submit"  class="btn btn-secondary">Submit</button>
                        </div>
            {% endform %}                                
            {% endcase %}
        {% endfor %}
        </div>
    </div>
</div> 


{% schema %}
{
    "name": "Newsletter",
    "settings": [
        {
            "type":"range",
            "id":"padding_top",
            "label":"Padding top",
            "min":0,
            "max":180,
            "step":5,
            "unit":"px",
            "default":50
        },{
            "type":"range",
            "id":"padding_bottom",
            "label":"Padding bottom",
            "min":0,
            "max":180,
            "step":5,
            "unit":"px",
            "default":50
        },{
            "type":"color", 
            "id":"bg_color", 
            "label":"Background color", 
            "default":"#DDDDDD" 
        },{
            "type":"color", 
            "id":"title_color", 
            "label":"Title color", 
            "default":"#000000" 
        }
        ],
        "blocks": [
            {
                "type": "title",
                "name": "Heading",
                "settings": [{
                   "type":"text",
                   "id":"title",
                   "label":"Title",
                   "default":"Subscribe us"
                }]
            },
            {
                "type": "description",
                "name": "Description",
                "settings": [{
                   "type":"richtext",
                   "id":"rte",
                   "label":"Description"
                }]
            },
            {
                "type": "email_form",
                "name": "Email form",
                "limit": 1
            }
        ],
        "presets":[
            {
                "name": "newsletter",
                "category":"Email",
                "blocks": [
                    {
                        "type":"title"
                    },
                    {
                        "type":"email"
                    }
                ]
            }
        ]
}
{% endschema %}