<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel" data-mdb-interval="{{sections.settings.enable_auto_slide}}"   >
  <!-- Indicators -->
  <div class="carousel-indicators">
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="{{foorloop.index0}}"
      {% if forloop.index==1 %}
      class="active"
      aria-current="true"  
      aria-label="Slide {{forloop.index}}"

      {% else %}  
        aria-current="false"  
        aria-label="Slide {{forloop.index}}"
      {% endif %}
      
    ></button>      
      {% endfor %}
    {% endif %}
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
   {% for block in section.blocks  %}  
   <div class="carousel-item {% if forloop.index==1 %}active{%endif %}" data-mdb-interval="4000">
      {% if block.settings.slider_img !=null %}
        <img class="d-block w-100" src="{{block.settings.slider_img | img_url:'original'}}" alt="{{block.settings.slider_img.alt}}">
      {% endif %}
        <div class="carousel-caption d-none d-md-block">
        <h5>{{block.settings.title | escape }}</h5>
        <div class="slider-content">
          {{block.settings.rte}}
        </div>
        {% if block.settings.btn_1 != blank %}
        <div class="actions">
          <a href="{{block.settings.btn_url}}" class="btn btn-primary">{{block.settings.btn_1}}</a>
        </div>
        {% endif %}
      </div>

      </div>
    {% endfor %}
    
  <!-- Inner -->

  <!-- Controls -->
  {% if section.blocks.size > 1 and section.settings.show_prev_next %}
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  {% endif %}
  
</div>
<!-- Carousel wrapper -->
</div>

{% schema %}
  {
    "name": "Slider",
    "settings":[
      {
        "type": "checkbox",
        "id": "enable_auto_slide",
        "label": "Enable auto slide",
        "default": false
      }, 
      {
        "type": "checkbox",
        "id": "show_prev_next",
        "label": "Show Prev and Next icon",
        "default": true
      }
    ], 
    "blocks":[
      {
        "type":"slider",
       "name":"Slide",
        "settings":[
          {
            "type":"image_picker", 
            "id":"slider_img",
            "label":"Slider image"
          }, {
            "type":"header", 
            "content":"Slider Contents "
          },{
            "type":"text", 
            "id":"title",
            "label":"Title",
            "default": "Summer Sale"
          },{
            "type":"richtext", 
            "id":"rte",
            "label":"Details",
            "default": "<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>"
          },{
            "type":"text", 
            "id":"btn_1",
            "label":"Buttn label",
            "default": "Shop Now"
          },{
            "type":"url", 
            "id":"btn_url",
            "label":"Buttn link"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Slide show",
        "category":"Slider"
      }
    ]
  }
{% endschema %}
